.App {
  text-align: center;
}

.header {
  font-family: 'Cinzel', serif;
  font-size: 20px;
  text-align: center;
}
body{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-size: cover;
  background-repeat: no-repeat;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . . ." ". . . ." ". . . .";
  }

.container {
  height: 800px;
  width: 600px;
  margin-left: 32%;
  margin-top: 6%;
}

.myInput {
  width: 100%;
  height: 60px;
  font-size: 60px;
  color:white;
  margin-bottom: 50px;
  border-color: #0077AA;
  background-color: #2E86AB;
  font-family: 'Orbitron', sans-serif;

  opacity: .6;
}

.grid button {
  height: 120px;
  font-size: 40px;
  background-color: #41dfff;
  box-shadow: 4px 4px 5px grey;
  opacity: .6;
  border: none;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

.grid button:hover {
  opacity: 1;
}